<script src="{{ asset('js/Chart.bundle.min.js') }}"></script>
<script>
    $(document).ready(function() {
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        const ctx = document.getElementById("canvas").getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for item in data %}
                    "{{ item.time|date('H:i') }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Temp. in °C',
                    data: [
                        {% for item in data %}
                        {{ item.temp }},
                        {% endfor %}
                    ],
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'tempY'
                }, {
                    label: 'Pressure in mb',
                    data: [
                        {% for item in data %}
                        {{ item.pressure }},
                        {% endfor %}
                    ],
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    borderWidth: 1,
                    fill: false,
                    yAxisID: 'pressureY'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'tempY'
                    }, {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        id: 'pressureY',
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }]
                }
            }
        });
    })
</script>

<div class="col-xs-12 col-md-9">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title inline">Historie</h3>
                <select class="form-control input-sm inline normal-width pull-right" name="" style="margin-top: -5px">
                    <option value="" disabled selected>Choose attribute...</option>
                    <option value="Elevation">Elevation</option>
                    <option value="Speed">Speed</option>
                    <option value="Temp">Temperature</option>
                    <option value="Moist">Moist</option>
                    <option value="Pressure">Pressure</option>
                    <option value="Humidity">Humidty</option>
                    <option value="ADC0">ADC0</option>
                    <option value="ADC1">ADC1</option>
                    <option value="ADC2">ADC2</option>
                    <option value="ADC3">ADC3</option>
                    <option value="ADC4">ADC4</option>
                    <option value="ADC5">ADC5</option>
                    <option value="ADC6">ADC6</option>
                    <option value="ADC7">ADC7</option>
                    <option value="SDSP1">SDSP1 (PM10)</option>
                    <option value="SDSP2">SDSP2 (PM2.5)</option>
                </select>
                <select class="form-control input-sm inline normal-width pull-right" name="" style="margin-top: -5px">
                    <option value="" disabled selected>Choose sensor...</option>
                    {% for sensor in sensors %}
                        <option value="{{ sensor.id }}">#{{ sensor.id }} {{ sensor.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="panel-body">
                <canvas id = "canvas"></canvas>
            </div>
        </div>
    </div>
    <div class = "row">
        {% include 'AppBundle:EasyAdmin:panels/stats.html.twig' with { 'dataCount' : dataCount, 'sensorCount' : sensorCount, 'recentTimestamp': recentTimestamp } %}
    </div>
</div>



