<div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Stats</h3>
        </div>
        <div class="panel-body">
            <span>Displays relevant stats in a small overview</span>
        </div>
        <ul class="list-group" style="margin-left: 0;">
            <li class="list-group-item">
                <span class="badge">{{ dataCount }}</span>
                Data count
            </li>
            <li class="list-group-item">
                <span class="badge">{{ sensorCount }}</span>
                Sensor count
            </li>
            <li class="list-group-item">
                <span class="badge">
                    {% if recentTimestamp is not null %}
                        {{ recentTimestamp['date']|date('d.m.Y') ~ ' ' ~ recentTimestamp['time']|date('H:i') }}
                    {% else %}
                        No submission
                    {% endif %}
                </span>
                Latest data submission
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cleanup</h3>
        </div>
        <div class="panel-body">
            <form method = "get" action = "{{ url('delete_all') }}">
                <button type = "submit" class = "delete disabled btn btn-danger btn-block">
                    <i class = "fa fa-trash"></i> Delete all data
                </button>
            </form>
        </div>
        <ul class="list-group" style="margin-left: 0">
            <li class="list-group-item">
                <form method = "get" action = "{{ url('delete_of_type') }}">
                    <select class = "form-control" style="margin-bottom: 10px" name = "type">
                        {% for sensorType in sensorTypes %}
                            <option value = "{{ sensorType.id }}">{{ sensorType.name }}</option>
                        {% endfor %}
                    </select>

                    <button type = "submit" class = "delete disabled btn btn-danger btn-block">
                        <i class = "fa fa-ban"></i> Delete all data of this type
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('button.delete').click(function(event) {
            if($(this).hasClass('disabled')) {
                const self = this;
                $(this).removeClass('disabled')
                event.stopPropagation();

                setTimeout(function() {
                    $(self).addClass('disabled')
                }, 3000)

                return false;
            } else {
                return confirm('Do you really want to delete the data? This action is not revertible!')
            }
        })
    })
</script>